body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section#home-hello {
  position: relative;
  background-color: #17191b;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  animation: home-hello-compact 1s 5s forwards;
}
section#home-hello > svg {
  width: 100%;
  height: 100%;
}
section#home-hello > svg > g.hello-text > path {
  fill: transparent;
  stroke: transparent;
  stroke-width: 5;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: hello-animate 5s forwards;
}
section#home-hello > div.arrow {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  border: solid #e3e9ee;
  border-width: 0 0.25rem 0.25rem 0;
  display: inline-block;
  padding: 1rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  opacity: 0;
  animation: arrow-up-down 1s infinite, arrow-appear 1s 5s forwards;
}

main {
  height: 0;
  overflow: hidden;
  animation: display-sections 0s 5s forwards;
}
@keyframes display-sections {
  0% {
    height: 0;
  }
  100% {
    height: unset;
  }
}
@keyframes home-hello-compact {
  0% {
    height: 100%;
  }
  100% {
    height: 75%;
  }
}
@keyframes hello-animate {
  0% {
    fill: transparent;
    stroke: #e3e9ee;
  }
  50% {
    fill: transparent;
    stroke: #e3e9ee;
    stroke-dashoffset: 0;
  }
  75% {
    fill: #e3e9ee;
    stroke-dashoffset: 0;
    filter: drop-shadow(0 0 10rem #e3e9eeff);
  }
  100% {
    fill: #e3e9eeee;
    stroke-dashoffset: 0;
    filter: drop-shadow(0 0 10rem #e3e9eeee);
  }
}
@keyframes arrow-up-down {
  0% {
    bottom: 3rem;
  }
  50% {
    bottom: 5rem;
  }
  100% {
    bottom: 3rem;
  }
}
@keyframes arrow-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section,
marquee {
  font-family: Poppins, sans-serif;
  color: #333;
}
section#presentation {
  padding: 3rem 0;
}
section#presentation > h1 {
  font-size: 2.5rem;
  text-align: center;
}
section#presentation > div.avatar {
  font-family: Poppins, sans-serif;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#presentation > div.avatar > img {
  width: 5rem;
  margin-right: 1rem;
  display: block;
}
.guiguisection {
  background: #ebeff3;
  color: #333;
}

section#hobbies {
  padding: 3rem 0;
}
section#hobbies > * {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  padding: 0 2rem;
}
section#hobbies h2 {
  font-size: 2rem;
}
section#hobbies div.hobby {
  display: flex;
  margin-top: 3rem;
  align-items: center;
}
section#hobbies div.hobby.inverted {
  flex-direction: row-reverse;
}
section#hobbies div.hobby > img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  object-position: center;
  border-radius: 1rem;
  overflow: hidden;
  display: block;
  margin-right: 2rem;
}
section#hobbies div.hobby.inverted > img {
  /* margin-left: 2rem; */
  margin-right: 0;
}
section#hobbies div.hobby > div {
  flex: 1;
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  section#hobbies div.hobby > div {
    font-size: 1rem;
  }
  section#hobbies div.hobby,
  section#hobbies div.hobby.inverted {
    flex-direction: column;
  }
  section#hobbies div.hobby > img,
  section#hobbies div.hobby.inverted > img {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 2rem;
  }
}

g {
  position: relative;
  font-family: Impact, sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
  background: linear-gradient(
    90deg,
    #000000,
    #0000ff,
    #33ff33,
    #ff0000,
    #000000
  );
  background-color: black;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.zuulaxxsection {
  color: #ff0000;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3;
}

.gif {
  height: 50px;
  width: 50px;
}

r {
  border-bottom: 2px solid #ff0000;
}

.devlink {
  color: #4bc529;
}

z {
  border-bottom: 2px solid #0000ff;
}

/* Début tchat */
.tchatsection {
  background-color: #333;
  padding: 0.2em;
  border-radius: 5px;
  color: white;
}

.tchatsection .title {
  padding: 0.2em;
  margin: 0.1em;
  background-color: #22a622;
  box-shadow: 6px 6px #047e94, 12px 12px #f64141;
}

.tchat {
  height: 150px !important;
  width: 250px !important;
}

/* <!-- Fin tchat" --> */

.black {
  display: inline-block;
  background-color: #000000;
}
